@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

@layer base {
  body {
    height: 100dvh;

    @apply max-lg:bg-[linear-gradient(180.06deg,#2C2D84_24.57%,#0F102F_90.05%)]
  }

  * {
    outline: none;
  }

  img {
    max-width: none;
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}
